
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #212121;
}




.nav-container {
    display: flex;
    justify-content: center;
    color: #464646;
    background-color: rgb(36, 36, 36);

}






.nav-container ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
    justify-content: center;

}


.nav-container ul li {

    margin: 0 10px;
    text-transform: uppercase;
    
}


.nav-container ul li a {
    text-decoration: none;
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;

}




.nav-container ul li a:hover {
    color: #fff;
}